* {
    font-size: 30px;
}

.containerAll {
    margin-top: 10%;
    align-items: center;
}

#calcGrid {
    display: flex;
    margin: auto;
    flex-wrap:wrap;
    width: 320px;
    height: 500px;
    border-style: solid;
    justify-content: space-around;
}

#clearPad {
    display: flex;
    width: 320px;
    height: 80px;
    justify-content: space-around;
}

#numberPad {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 240px;
    height: 320px;
    justify-content: space-around;
}

#operatorPad {
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    height: 320px;
}

#numberPad button {
    width: 33%;
    margin: 0px;

}
#display {
    display: table;
    text-align: right;
    height: 68px;
    width: 100%;
    margin: 4px;
    border: 2px;
    border-style: solid;
    padding: 10px;
}

#display span {
    display: table-cell;
    vertical-align: middle;
    text-align: end;
}
#clear {
    width: 33%;
    color:darkred;
}

#delete {
    width: 66%;
    color: red;
}

#operatorPad button {
    width: 100%;
}

.operator {
    color: blue;
}