.containerAll {
    margin-top: 10%;
    align-items: center;
}

#calcGrid {
    display: flex;
    margin: auto;
    flex-wrap:wrap;
    width: 160px;
    height: 200px;
    border-style: solid;
    justify-content: space-around;
}

#clearPad {
    display: flex;
    width: 160px;
    height: 40px;
    justify-content: space-around;
}

#numberPad {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 120px;
    height: 160px;
    justify-content: space-around;
}

#operatorPad {
    display: flex;
    flex-wrap: wrap;
    width: 40px;
    height: 160px;
}

#numberPad button {
    width: 33%;
    margin: 0px;

}

#clear {
    width: 33%;
}

#delete {
    width: 66%;
}

#operatorPad button {
    width: 100%;
}